@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

div#navbar {
    padding-left: 5px;

    background: linear-gradient(#eee, white);
    border-bottom: 1px #ddd solid;
}

p {
    font: 10px 'Saira Semi Condensed';
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}
