@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

div#navbar {
    padding-left:  5px;
    padding-right: 5px;

    background: linear-gradient(#eee, white);
    border-bottom: 1px #ddd solid;
}

div#navbar > p {
    color: #aaa;
}

span#navbar-status {
    float: right;
}

span#navbar-login-required {
    display: none;
}

div#register, div#login {
    display: none;

    position: absolute;
    top:      25px;
    left:     10px;
    width:    auto;
    height:   auto;

    padding: 5px;

    background: white;
    border: 1px #ddd solid;

    box-shadow: 5px 5px #eee;
}

div#main-container {
    display: flex;

    position: absolute;
    z-index: -1;
    top:      0;
    bottom:   0;
    left:     0;
    right:    0;
}

div#sidebar {
    flex: 1;
    padding-top: 20px;

    background: #f8f8f8;
    border-right: 1px #ddd solid;
}

div#lobby {
    display: none;
}

div#lobby-info {
    margin-left: 10px;
}

div#main {
    flex: 4;
    padding-top: 20px;
}

p {
    font: 10px 'Saira Semi Condensed';
}

p.header, p.header2 {
    margin-bottom: 3px;
    padding-right: 5px;

    text-align: right;
    font-style: italic;
}

p.header2 {
    background: white;

    border-top:    1px #ddd solid;
    border-bottom: 1px #ddd solid;
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: underline;
}

input {
    display: block;
    box-sizing: border-box;

    margin: 0;
    margin-bottom: 3px;

    padding: 2px;
    width: 300px;

    background: linear-gradient(white, #f8f8f8);

    border: none;
    border-bottom: 1px #aaa dotted;

    font: 10px 'Saira Semi Condensed';
}

input:hover {
    border-bottom: 1px #aaa solid;
}

input[type="button"] {
    border: 1px #aaa dotted;
    cursor: pointer;
}

input[type="button"]:hover {
    border: 1px #aaa solid;
}
